.bg-modal {
    background-color: #8fd3f4;
    color: black;
}

/* .fieldSetBorder {
border:1px solid black;
border-radius: 3px;
z-index: 5;
/* background-color:#eeeeee; */
/* background-color: #c3e4f5; */
/* } */ 

legend {
    padding: 5px 10px;
    background:#c3e4f5;
    padding:10px 8px 10px 8px;
    border-radius:0.5em;
    border:1px solid black;
    width: max-content;
  }
  fieldset {
    border:1px solid black;
    background-color: #c3e4f5;
    border-radius: 5px;
  }
