.modal-body{
    /* background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); */
    background-color: #c3e4f5;
    color:black;
    /* width: 500px ; */
}
.form_login_input{
    width: 90%;
}
.form_login_label{
    width: 90%;
}



/* .modal-dialog {
    margin-left: auto;
  } */

/* @media screen and (max-width: 400px){
.btn-registrar{
    width: 40%;
}
} */