.fa-shopping-bag {
    color: black;
    border: none;
    background: none;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
}
#buyMessage {
    background-color:white;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color:black;
    font-size: 17px;
    padding-top: 1px;
    width: 20px;
    height: 20px;
    margin-top: 30px;
    margin-left: 30px;
    position: absolute;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif; 
}
.fa-trash {
    font-size: 25px;
}
.card-img {
    max-height: 300px;
}
.cardsTour {
    max-width: 800px;    
    max-height: 320px;
    margin: auto;
    z-index: 1;
}
#buyBag {
    position: sticky;
    top: 28%;
    right: 80%;
    z-index: 2;   
}
.listCart {
    background-color: #84fab0;
    display: inline-flex;
    flex-direction: column;
    margin-left: 50%;
    max-height: 300px;
    border-radius: 10px;
    overflow:auto;
    
}
.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.3);
}
.btnBuyTour{
    z-index: 2;
}
@media screen and (max-width: 354px){
    #buyBag{
        top:20%;
    }
}