.tour-title{
    font-size: 30px;
}

.detalle_imagen{
    border-radius: 5px;
    box-shadow: 8px 10px 8px rgb(88, 86, 86);
}

.detalle_descripcion{
    font-style: italic;
    z-index: 5;
    font-size: 1em;
    width: 80%;
    margin: auto;
    text-align: justify;
}

