.tour-title{
    font-size: 30px;
}

.detalle_imagen{
    border-radius: 5px;
    box-shadow: 8px 10px 8px rgb(17, 17, 17);
    /* width: 100%;
    height:100%; */
}

.detalle_descripcion{
    font-style: italic;
    z-index: 5;
    font-size: 1em;
    width: 80%;
    margin: auto;
    text-align: justify;
}

.carousel .slide .legend  {
    border-radius: 5px;
    box-shadow: 8px 10px 8px rgb(17, 17, 17);
    transition: none;
    opacity: 1;
}

.btnFinalizarCompra {
    background-color: #f26522;
    color: black;
}

.favorito i{
    width: 50%;
    size: 50%;
   /* border: 1px solid black;*/
}

.imgTour{
    width:100%;
    height:100%;
}

.imgMapa{
    width:100%;
    height:100%;
}

@media screen and (max-width: 400px){
    .imgTour{
    width: 100%;
    }
    .detalle_imagen{
        width: 80%;
    }
    .detalle_info, .detalle_description{
        display: none;
    }
    .detalle_especies{
        display: block;
        font-size: 13px;
    }
    }