.imgFavoritosDeslog{
    border-radius:5px;
}

.links-links{
    color:black;
    text-decoration: none;
    text-size-adjust: 50%;
    font-weight: bold;
    padding:20px;
 }

 .links-links:hover{
    color: black;
    text-decoration: none;
 }

 .favNotLogged {
    width:60%;
    height:40%;
     background-color:#7bc9f0; 
    /* background-color:#f5b678 ; */
    /* background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%); */
    padding:2px;
    border:1px solid rgb(37, 37, 37);
    border-radius:5px;
 }

 .imgContainer{
    width:60%;
    height:40%;
    border-radius:5px;
 }

 .imgTour{
     width:100%;
     height:100%;
     border-radius:5px;
 }

 .btnFavorito{
   padding: 10px 10px 10px 20px;
   height:60%;
    /* padding:5px; */
    border-radius:3px;
    background-color:  #f26522;
    border:none;
 }

 .insideBtn{
   font-size: 16px;
 }

 .titleFavoritos{
     color:black;
 }