

.legend-contacto {
    padding: 5px 10px;
    background:#c3e4f5;
    padding:10px 8px 10px 8px;
    border-radius:0.5em;
    border:1px solid black;
    width: max-content;
  }

  .fieldset-contacto {
    border:1px solid black;
    background-color: #c3e4f5;
    border-radius: 5px;
    width: 70%;
    margin: auto;
    padding: 1px;
  }



.formulario_boton{
   width: 30%;
   padding: 5px;
   margin-bottom: 2px;
   background-color: #f26522;
    color: black;
    font-weight: bold;
}

.formulario_boton:hover{
    width: 30%;
    padding: 5px;
    margin-bottom: 2px;
    background-color: #e6875b;
     color: black;
     font-weight: bold;
 }
