.formulario_modal{
    background-color: #343a40;
    color: rgb(212, 202, 202);
}
.modal-content{
    background-color: #343a40;
    color: rgb(212, 202, 202);
}
.formulario_modal modal-body{
    background-color: #343a40;
    color: rgb(212, 202, 202);
}

.modal-body{
    background-color: #343a40;
    color: rgb(212, 202, 202);
}


.modal_boton{
    width: 50%;
    padding: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
    background-color: #f26522;
    color: black;
    font-weight: bold;
 }

 .modal_boton:hover{
    background-color: #e6875b;
    color: black;
    font-weight: bold;
    box-shadow: black;
 }