

.modal-crear-tour{
width: 70%;
}
.modal-open .modal{
    width: 70%;
}

.modal_boton{
    width: 30%;
    padding: 5px;
    margin-bottom: 3px;
    margin-top: 3px;
    background-color: #f26522;
    color: black;
    font-weight: bold;
    border-color: none;
    border-radius:5px;
}

.modal_boton:hover{
    background-color: #f26522;
    color: black;
    font-weight: bold;
    box-shadow: black;
} 

.desactivado{
    display:none;
}

@media screen and (max-width: 400px){
    .modal_boton{
        display: block;
        font-size: 12px;
        margin: auto;
    }
    .formulario.modal, .modal-content, .modal-dialog{
        width: 100px;
    }
    

}