.comentario{
    margin: auto;
    margin-bottom: 2px;
}
.comentarios_img{
    /* width: 60%; */
    text-align: center;
    border-radius: 50%;
}

.comentarios_caja{
    height: 70%;
    /* width: 200px; */
    background: transparent;
    position: relative;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 10px;
  }
  .comentarios_caja:before{
    content: "";
    position: absolute;
    top: 15%;
    left: 100%;
    height: 20px;
    width: 20px;
    background: white;
    box-sizing:border-box;
    transform: rotate(45deg) translate(-50%);
    border-top: inherit;
    border-right: inherit;
    box-shadow: inherit;
    transition:all 0.8s;
  }
.comentarios_texto{
    font-size: 15px;
    text-justify: auto;
}

.imgContainer{
width:60%;
height:60%;
}

.imgUser{
  width:100%;
  height:100%;
}

@media screen and (max-width: 400px){
    .imgUser{
      display: none;
    }
    .comentarios_texto{
      font-size: 12px;
      text-justify: auto;
  }
  .comentario{
    width: 70%;
    height: 70%;
  }
  }