.text-heroimg{
    color:whitesmoke;
    position: absolute;
    top: 60%;
    left: 3%;
    height: 50%;
    width: 50%;
    height: 80px;
    opacity: 0.8;
    z-index:10;
    background: rgba(12, 11, 11, 0.8);
    box-shadow: 2px 2px 1px rgba(12, 11, 11, 0.8) ;
    /* border-radius: 5px; */
    
}

.heroImgCarousel{
    width:100%;
    height:30%;
}

.tituloHero{
    vertical-align:middle;
    padding-top:15px;
}

.imgCarouselContainer{
    width:90%;
    height:70%;
    object-fit: cover;
}
/* 
width: 300px;  width of container 
    height: 400px; height of container */

.imgCarousel{
    display:block;
    width:100vw;
    height:70vh;
    object-fit: cover;
    object-position: 30% 60%;
    border: 5px solid black;
}

.carrousel_card{
    opacity: 1;
    width: 100%;
    height: 50%;
    margin: auto;
}