.text-heroimg{
    color:whitesmoke;
    position: absolute;
    top: 60%;
    left: 3%;
    height: 50%;
    width: 80%;
    height: 100px;
    opacity: 0.8;
    z-index:10;
    background: rgba(12, 11, 11, 0.3);
    border-radius: 5px;
}



.heroImgPicture{
    width: 100%;
    height: 100%;
}

