.error-msg {
    margin: 1rem 0;
    padding: 0.5rem;
    border: 1px solid #e07c7c;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f84242;
    z-index: 30;
    
  }
  .error-btn {
    padding:5px;
    border: 1px solid #e07c7c;
    border-radius: 3px;
    background-color: #fd5f5f;
    color: #ffffff;
  }