.galeria {
    
}

.galeria_imagen{
    width:30%;
    height: 30%;

}

.resultContainer{
    display:flex;
    justify-content: space-between;
}

.cardContainer {  
    margin-top: 1cm;
    display:flex;
    justify-content: space-between;
    }