.inputSearch{
    border-radius:5px;
    background-color:none;
    padding:20px;
    height: 20px;
}

.searchForm{
    padding:10px;
}

.searchResult{
    border: 1px solid rgb(130, 8, 146);
    border-radius:5px;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.tourContainer{
    padding:10px;
}

.searchImgContainer{
    width:90px;
    height: 70px;
    padding:10px;

}
.searchImg{
    height: 100%;
    width:100%;  
    box-shadow: 2px 2px 2px 2px rgb(34, 34, 34);
}

.nav-links-links{
    color:black;
    text-decoration: none;
    text-size-adjust: 50%;
    font-weight: bold;
    padding:20px;
}

.nav-links-links:hover{
    color: black;
}
@media screen and (max-width: 991px){
    .searchBar {
        margin: auto;
    }
}