.inputSearch{
    border-radius:5px;
    background-color:none;
    padding:20px;
    height: 20px;
}

.searchForm{
    padding:10px;
}

.searchResult{
    border: 1px solid black;
    border-radius:5px;
}

.tourContainer{
    padding:10px;
}

.searchImgContainer{
    width:90px;
    height: 70px;
    padding:10px;

}
.searchImg{
    height: 100%;
    width:100%;  
}

.nav-links-links{
    color:black;
    text-decoration: none;
    text-size-adjust: 50%;
    font-weight: bold;
    padding:20px;
 }

 .nav-links-links:hover{
    color: black;
 }