.myNav{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    color:black;
}

.logo-wrapper{
    display:flex;
    color:black;
   text-decoration: none;
   align-items:center;
}

.logo{
    width: 100px; 
    height: auto; 
    margin-left:20px;
    display:flex;
 } 

.firstrow{
    border-bottom: 1px solid rgb(12, 214, 113);
}

 .buttons{
    margin-left:auto; 
    margin-right:50px;
    padding:20px;
    display: flex;
    justify-content: space-between;
 }

 .buttonC{
     padding:5px;
     border-radius:3px;
     background-color: #84fab0;
     border:none;

 }

 .nav-links-links{
    color:black;
    text-decoration: none;
    text-size-adjust: 50%;
    font-weight: bold;
    padding:20px;
 }

 .nav-links-links:hover{
    color: black;
 }