.myNav{
    background-image: linear-gradient(180deg, #84fab0 0%, #8fd3f4 100%);
    color:black;
}

.logo-wrapper{
    display:flex;
    color:black;
    text-decoration: none;
    align-items:center;
    padding:0;
}

.logo{
    width: 100px; 
    height: auto; 
    margin-left:10px;
    display:flex;
    padding:0;
 } 

.firstrow{
    border-bottom: 1px solid rgb(12, 214, 113);
    height: fit-content;
    padding:0;
    width:100%;
}

 .buttons{
    margin-left:auto; 
    margin-right:50px;
    padding:20px;
    display: flex;
    justify-content: space-between;
 }

 .buttonHeader{
     padding:5px;
     border-radius:3px;
     background-color:  #f26522;
     border:none;
 }

 .nav-links-links{
    color:black;
    text-decoration: none;
    text-size-adjust: 50%;
    font-weight: bold;
    padding:10px;
 }

 .nav-links-links:hover{
    color: black;
 }


 .imgUserContainer {
    width:80px;
    height:60px;
    padding:2px;
 }

.imgUser{
    height: 100%;
    width:100%;
    border-radius:45%;
    border: 3px solid black;
}

.buttonHeaderSalir{
    padding: 0px 20px 0px 20px;
    height:60%;
    border-radius:3px;
    background-color:  #f26522;
    border:none;
}

