.modal-body{
    /* background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); */
    background-color: #c3e4f5;
    color:black;
}

.btn-registrar{
    background-color: #e6875b;
    color: black;
}