.title-panelAdmin{
    display: inline;
    width: 20px;
}

.title-panelAdmin p {
    font-size: 30px;
}
@media screen and (max-width: 400px){
    .title-panelAdmin{
        font-size: 12px;
    }
    .admin_delete, .admin_edite{
        width: 30%;
    }
}