.recoverBg{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    /* border-top: 1px solid rgb(12, 214, 113); */
}

.modal-body{
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    color:black;
}

.img-recover{
    width: 90%;
    height: 90%;
    margin:3px;
}

.btn_recuperar_pass{
        padding:5px;
        border-radius:3px;
        background-color:  #f26522;
        border:none;
    }

    .legend-recover {
        padding: 5px 10px;
        background:#c3e4f5;
        padding:10px 8px 10px 8px;
        border-radius:0.5em;
        border:1px solid black;
        width: max-content;
    }
    
    .fieldset-recover {
        border:1px solid black;
        background-color: #c3e4f5;
        border-radius: 5px;
        width: 70%;
        margin: auto;
        padding: 1px;
    }

    .input-recover{
        width: 50%;
        display: block;
        margin: auto;
    }