@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@200&family=Ubuntu:wght@400;700&display=swap');

*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}

body {
   font-family: 'Texturina', serif;
   font-weight: bold;
}
   
.leaflet-container {
   width: 100%;
   height: 100%;
}
