.detalle_ave{
background: rgba(12, 11, 11, 0.4);
color: white;
font-style: bold;
height: 30px;
text-align: center;
text-decoration: none;
}

.detalle_ave:hover{
text-decoration: none; 
}

.imagen_pequeña{
margin: 0;
padding: 0;
}

.imagen_pequeña:hover{
    border-radius: 8%;
}

.card-ave:hover{
    box-shadow: 6px 5px 5px 6px black;
    opacity: 0.8;
    z-index:5;   
    border-radius: 8%;
}
    